@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* -----CSS DE NAVBAR-------- */

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color:#FFCAFA;

}

header div{
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
}

header img{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
}

header div .logo{
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-top: 5px;
}

header div .navbar ul{
    list-style: none;
}

header div .navbar ul li{
    position: relative;
    float: left;
}

header div .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
}

header div .navbar ul li a:hover{
    background-color: #8e1a82;
    color: white;
}

header div .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color:#FFCAFA;
    display: none;
}

header div .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid black;
}

header div .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header div .navbar ul li:hover > ul{
    display: initial;
}
.img-header{
    display: flex;
    justify-content: center;
    margin: 120px 15px 10px 0px;
}

.promos{
    width: 870px;
}

#menu-bar{
    display: none;
}

header div .navbar ul .celu{
    display: none;
}

header div label{
    font-size: 20px;
    color: #000;
    cursor: pointer;
    display: none;
}

/* ---------CSS DE BODY-------------- */
.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    grid-gap: 10px;
}

.one {
    grid-column: 3 / 3;
    grid-row: 1;
}
.two {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
}
.three {
    grid-column: 5;
    grid-row: 1;
}
.four {
    grid-column: 3;
    grid-row: 2;
}
.five {
    grid-column: 4;
    grid-row: 2;
}
.six {
    grid-column: 5;
    grid-row: 2;
}
.seven{
    grid-column: 3;
    grid-row: 3;
}
.eight{
    grid-column: 4;
    grid-row: 3;
}
.nine{
    grid-column: 5;
    grid-row: 3;
}
.ten{
    grid-column: 3;
    grid-row: 4;
}
.eleven{
    grid-column: 4;
    grid-row: 4;
}
.twelve{
    grid-column: 5;
    grid-row: 4;
}
.thirteen{
    grid-column: 3;
    grid-row: 5;
}
.fourteen{
    grid-column: 4;
    grid-row: 5;
}
.fifteen{
    grid-column: 5;
    grid-row: 5;
}
.sixteen{
    grid-column: 3;
    grid-row: 6;
}
.seventeen{
    grid-column: 4;
    grid-row: 6;
}
.eighteen{
    grid-column: 5;
    grid-row: 6;
}
.nineteen{
    grid-column: 3;
    grid-row: 7;
}
.twenty{
    grid-column: 4;
    grid-row: 7;
}
.twenty-one{
    grid-column: 5;
    grid-row: 7;
}
.bg-box{
    background-color: #ffffff;
    border-radius: 10px;
    border:solid rgb(187, 184, 184);
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.bg-box:hover{
    background-color: rgb(233, 229, 229);
}
.producto{
    width: 150px;
}
.bg-box p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.precio{
    color: green;
    font-weight: bold;
}
footer{
    background-color: #FFCAFA;
    margin-top: 25px;
    height: 75px;
}
footer div p{
    text-align: center;
}

/* -------------------------RESPONSIVE----------------------------- */

@media(max-width:991px){
    header {
        padding: 20px;
    }

    header div{
        align-items: start;
        justify-content: start;
    }
    header div .logo{
        padding: 0%;
    }

    header div label{
        display: initial;
    }

    header div .navbar ul .celu{
        display: initial;
    }

    header div .navbar ul .compu{
        display: none;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #FFCAFA;
        border-top: 1px solid rgba(0,0,0,.1) ;
        display: none;
    }
    header .navbar ul li{
        width: 100%;
        border-top: 1px solid rgba(0,0,0,.1) ;
    }
    header div .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: #ffbef8;
        border-top: 1px solid rgba(0,0,0,.1) ;
    }
    header div .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    header .navbar ul li ul li ul li{
        background-color:#ffabf7;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}

@media (max-width:900px){
    .promos{
        width: 90%;
    }
    .img-header{
        margin-top: 120px;
    }
}

@media (max-width:780px){
    header div .navbar ul li a{
        font-size: 18px;
        padding: 20px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-gap: 10px;
    }
    .one {
        grid-column:2;
        grid-row: 1;
    }
    .two {
        grid-column:3;
        grid-row:1;
    }
    .three {
        grid-column: 2;
        grid-row: 2;
    }
    .four {
        grid-column: 3;
        grid-row: 2;
    }
    .five {
        grid-column: 2;
        grid-row: 3;
    }
    .six {
        grid-column: 3;
        grid-row: 3;
    }
    
    .seven{
        grid-column: 2;
        grid-row: 4;
    }
    
    .eight{
        grid-column: 3;
        grid-row: 4;
    }
    
    .nine{
        grid-column: 2;
        grid-row: 5;
    }
    
    .ten{
        grid-column: 3;
        grid-row: 5;
    }
    
    .eleven{
        grid-column: 2;
        grid-row: 6;
    }
    
    .twelve{
        grid-column: 3;
        grid-row: 6;
    }
    
    .thirteen{
        grid-column: 2;
        grid-row: 7;
    }
    
    .fourteen{
        grid-column: 3;
        grid-row: 7;
    }
    
    .fifteen{
        grid-column: 2;
        grid-row: 8;
    }
    
    .sixteen{
        grid-column: 3;
        grid-row: 8;
    }
    
    .seventeen{
        grid-column: 2;
        grid-row: 9;
    }
    
    .eighteen{
        grid-column: 3;
        grid-row: 9;
    }
    
    .nineteen{
        grid-column: 2;
        grid-row: 10;
    }
    
    .twenty{
        grid-column: 3;
        grid-row: 10;
    }
    
    .twenty-one{
        grid-column: 2;
        grid-row: 11;
    }
}

@media (max-width:600px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 5px;
    }
    header div .logo{
        font-weight: bold;
        font-size: 17px;
    }
    header div label{
        font-size: 13px;
    }
    header img{
        width: 20px;
    }
    .bg-box{
        width: 175px;
        height: 220px;
    }
    .producto{
        width: 100px;
    }
    .bg-box p{
        font-size: 12px;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
    }
    .two {
        grid-column: 2;
        grid-row:1;
    }
    .three {
        grid-column: 1;
        grid-row: 2;
    }
    .four {
        grid-column: 2;
        grid-row: 2;
    }
    .five {
        grid-column: 1;
        grid-row: 3;
    }
    .six {
        grid-column: 2;
        grid-row: 3;
    }
    
    .seven{
        grid-column: 1;
        grid-row: 4;
    }
    
    .eight{
        grid-column: 2;
        grid-row: 4;
    }
    
    .nine{
        grid-column: 1;
        grid-row: 5;
    }
    
    .ten{
        grid-column: 2;
        grid-row: 5;
    }
    
    .eleven{
        grid-column: 1;
        grid-row: 6;
    }
    
    .twelve{
        grid-column: 2;
        grid-row: 6;
    }
    
    .thirteen{
        grid-column: 1;
        grid-row: 7;
    }
    
    .fourteen{
        grid-column: 2;
        grid-row: 7;
    }
    
    .fifteen{
        grid-column: 1;
        grid-row: 8;
    }
    
    .sixteen{
        grid-column: 2;
        grid-row: 8;
    }
    
    .seventeen{
        grid-column: 1;
        grid-row: 9;
    }
    
    .eighteen{
        grid-column: 2;
        grid-row: 9;
    }
    
    .nineteen{
        grid-column: 1;
        grid-row: 10;
    }
    
    .twenty{
        grid-column: 2;
        grid-row: 10;
    }
    
    .twenty-one{
        grid-column: 1;
        grid-row: 11;
    }
}

@media (max-width:400px){
    .bg-box{
        width: 140px;
        height: 220px;
    }
    .producto{
        width: 85px;
    }
    .promos{
        width: 100%;
    }
    .img-header{
        margin-top: 120px;
        margin-right: 0; margin-left: 0;
    }
}